# Ignore everything
*

# But not these files...
!/packages/
!/packages/api/
!/packages/api/**
!/packages/admin/
!/packages/admin/**
!/packages/front/
!/packages/front/**

# And not these files in the root
!/.gitignore
!/pnpm-workspace.yaml
